#section_5{
  padding-top: 96px;
}
#section_5 ._info{
  color: white; 
  font-size: 24px; 
  font-weight: 600;
}

#section_5 ._title{
  font-size: 48px;
  margin-bottom: 32px;
}

#section_5 ._detail{
  margin-bottom: 48px;
}

#section_5 .text_line{
  font-size: 24px; 
  font-weight: 600;
}

#section_5 hr{
  border-top: 1px solid #979797;
}
#section_5 .btn{
  border-radius: 54px;
  padding: 12px;
  margin: 16px 0;
}

#section_5 .phone_container{
  margin-left: 48px;
}

#section_5 .phone {
    width: 430px;
    height: 863px;
    border-radius: 54px;
    background-color: #d8d8d8;
    border: solid 8px #9012fe;
}
#section_5 ._detail ._detail2 .icon{
width: 70px;  
}

#section_5 .icon{
  width: 70px;
}
@media (min-width: 768px) {
  #section_5 .icon{
    width: 147.6px;
  }
}